
#main{
    background-color: #cad2c5;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
}
#main input{
    outline: none;
    width: 100%;
}
#footer{
    margin-top: 10px;
    margin-left: 119px;
    margin-bottom: 20px;
}
#term{
    margin-left: 15px;
   
}

